sudo: false

language: ruby
rvm:
    - ruby-head
    - 2.2.0

matrix:
    allow_failures:
        - rvm: ruby-head
fast_finish: true

branches:
    only:
        - master

before_install: 'gem install bundler -v 1.13.0'

script: 'bundle exec rake acceptance'
